body {
    margin: 60px auto;
    width: 75%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto; 
    font-size: 1.5em;
}

ul.posts li{
    display: inline-block !important;
}

ul.posts li {
    list-style: none;
    width: 30%;
   margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1), 0 17px 50px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
    padding: 10px;
    height: 200px;
}

@media (max-width: 480px) {
    body {
    width: 100% !important;
}
 ul.posts li{
    display: block !important;
    width: 95% !important;
    height: 140px !important;
    margin-left: 5px !important;
    }
    
    
    ol, ul {
    padding-left: 0.05rem !important;
}
}


